@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: #e3e2e25d;
}
@media (max-width: 450px) {
    section{
        max-width: 100%;
        width: 300px;
        height: 500px;
    }
    main{
        max-width: 100%;
        width: 350px;
        height: 500px;
        border-radius: 16px;
        background-image: linear-gradient(#5869F5, #5C98FF, #79A8E5, #79D5FC);
    }
    article > h1{
        border-bottom: 1px solid white;
        text-shadow:  1px 4px rgba(212, 250, 253, 0.466);
    }
}
section{
    position: relative;
    height: 518px;
    max-width: 679px;
    min-width: 150px;
    margin: 50px auto;

    background-image: linear-gradient(#5869F5, #5C98FF, #79A8E5, #79D5FC);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.img{
    max-width: 200px;
}
main{
    float: right;
    height: 100%;
    width: 400px;
    max-width: 100%;
    margin: -19px -1px;
    border-radius: 0px 14px 14px 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: white;
    text-align: center;
}
article{
    margin: 10px auto;
    padding: 30px;

}
p > a{
    color: #5C98FF;
    text-decoration: none;
    transition: .5s;
}
p > a:hover{
    color: blue;
}
p > a::before{
    color: #5869F5;
}
article > h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40pt;
}
article > p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
article > input{
    border: 2px solid rgb(240, 237, 237);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-size: 13pt;
    padding: 10px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
}
input:hover{
    box-shadow: 0px 0px 0px 1px  #5C98FF;
}
.botao{
    border: 2px solid rgb(240, 237, 237);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 20px auto;
    text-transform:lowercase;
    font-weight: 800;
    transition: .5s;
}
.botao:hover{
    box-shadow: 0px 0px 0px 1px  rgba(43, 255, 0, 0.712);
    font-size: 18pt;
}
